<div class="content">
  <h2> {{Lifestyle.Name}} </h2>
  <article>{{Lifestyle.Description}}</article>

  <div style="display:flex; flex-direction: row">
    <button mat-raised-button class="add-button" color="accent" (click)="$event.stopPropagation(); HandleAddButton()">
      <mat-icon>add</mat-icon>
    </button>
    <p>Add new item to the list.</p>
  </div>
  <div class="box-shadow">
    <div class="table-container">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="Position">
          <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{Lifestyle.Items.indexOf(element) + 1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CategoryIcon">
          <mat-header-cell *matHeaderCellDef> Icon</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button>
              <mat-icon>money</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Category">
          <mat-header-cell *matHeaderCellDef> Category</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{returnEnumValue(element.Category)}} </mat-cell>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="Cost">
          <mat-header-cell *matHeaderCellDef> Cost</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Cost}} </mat-cell>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="Delete">
          <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="$event.stopPropagation(); HandleDeleteButton(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
