<mat-accordion >
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div style="display: flex ; flex-direction: row; align-items: center">
          <h2 *ngIf="!isEdit" (click)="isEdit=true; $event.stopPropagation()"> {{Lifestyle.Name}}</h2>
          <input matInput *ngIf="isEdit" (keydown.enter)="isEdit=false; $event.stopPropagation()" [(ngModel)]="Lifestyle.Name" (click)="$event.stopPropagation()"/>
        </div>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- SUMMARY -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p><b>Summary</b></p>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-summary #summary
                   [Taxrates]="Lifestyle.TaxRates"
                   [Items]="Lifestyle.Items"
      >
      </app-summary>
    </mat-expansion-panel>

    <!-- TAXRATES -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p><b>Taxrates</b></p>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="display:flex; flex-direction: column">
        <div style="display:flex; flex-direction: column; flex-wrap: wrap;">
          <button mat-button color="accent" (click)="TaxratesComponent.HandleAddTaxrateButton()" style="width: 100%">
            ADD TAXRATE
          </button>
         <app-taxrates #taxrates
                        [Taxrates] = "Lifestyle.TaxRates"
                       (TaxratesChanged)="updateTaxrates($event)"
         ></app-taxrates>
        </div>
      </div>
    </mat-expansion-panel>


    <!-- ITEMS -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p><b>Items</b></p>

        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="display:flex; flex-direction: row">
        <button mat-button class="add-button" color="accent"
                (click)="$event.stopPropagation(); ItemsComponent.HandleAddItemButton()" style="width: 100%">
          ADD ITEM
        </button>
      </div>

      <app-items #items
                 [Categories]="Categories"
                 [Items]="Lifestyle.Items"
                 (ItemsChanged)="updateItems($event)"
      >
      </app-items>

    </mat-expansion-panel>
    <h3>DESCRIPTION</h3>
    <p *ngIf="!isEdit" (click)="isEdit=true; $event.stopPropagation()"> {{Lifestyle.Description}}</p>
    <textarea matInput *ngIf="isEdit" (keydown.enter)="isEdit=false; $event.stopPropagation()" [(ngModel)]="Lifestyle.Description" (click)="$event.stopPropagation()"></textarea>

    <mat-action-row>
      <button mat-button class="add-button" color="accent"
              (click)="$event.stopPropagation(); HandleButtonDeleteLifestyle(Lifestyle)">
        <mat-icon>delete</mat-icon>
        <span>DELETE</span>
      </button>
      <button mat-button class="add-button" color="accent"
              (click)="$event.stopPropagation(); HandleCopyButton(Lifestyle)">
        <mat-icon>content_copy</mat-icon>
        COPY
      </button>
      <button mat-button class="add-button" color="accent"
              (click)="$event.stopPropagation(); HandleExportButton(Lifestyle)">
        <mat-icon>save_alt</mat-icon>
        EXPORT
      </button>
      <button mat-button class="add-button" color="accent"
              (click)="$event.stopPropagation(); HandleShareButton(Lifestyle)">
        <mat-icon>share</mat-icon>
        SHARE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
