
.headerDiv {
  //display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100vw;

}


.headSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 10px;
  flex-grow: 3;
  padding-right: 10px;
  text-align: center;
}



.logo{
  width: 5vh;
  height: 5vh;
  padding-left: 10px;
}

.headSectionMobile {
  @extend .headSection;
  flex-direction: row;
}

.h1Text {
  font-size: 1.8rem;
  font-style: normal;

}

.h2Text {
  font-size: 1.0rem;
  font-style: normal;
}


