/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #faf7f3,
  100 : #f2eae2,
  200 : #e9dccf,
  300 : #e0cebc,
  400 : #dac4ad,
  500 : #d3b99f,
  600 : #ceb297,
  700 : #c8aa8d,
  800 : #c2a283,
  900 : #b79372,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe5cf,
  A700 : #ffd8b5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
  50 : #f4fffb,
  100 : #e3fef5,
  200 : #d0feef,
  300 : #bdfde9,
  400 : #affce4,
  500 : #a1fcdf,
  600 : #99fcdb,
  700 : #8ffbd7,
  800 : #85fbd2,
  900 : #74faca,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #f6fffc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$md-warn: (
  50 : #ffebed,
  100 : #ffccd1,
  200 : #ffabb3,
  300 : #ff8994,
  400 : #ff6f7d,
  500 : #ff5666,
  600 : #ff4f5e,
  700 : #ff4553,
  800 : #ff3c49,
  900 : #ff2b38,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd8da,
  A700 : #ffbec2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



p, article, span, div {
  color: black;
}

h1 {
  color: mat-color($md-accent, 500);
}

.stripe:nth-of-type(odd) {
  background-color: mat-color($md-primary, 600, 0.7);
}

.stripe:nth-of-type(even) {
  background-color: mat-color($md-primary, 400, 0.7);
}
