<div class="headerDiv">
  <div #header>
    <section style="display: flex; flex-direction: row; justify-content: center; align-items: center">
      <img alt="Nx logo" class="logo"  src="assets/images/icons/emblem1.png"/>
      <div class="headSection">
          <span class="h1Text"><b>&nbsp;{{ title }}</b> </span>
          <span class="h2Text">{{ subTitle }}</span>
        </div>
      <img alt="Nx logo" class="logo"  style="visibility: hidden" src="assets/images/icons/emblem1.png"/>
    </section>
  </div>
</div>
