// Import library functions for theme creation.
@import '../../node_modules/@angular/material/theming';

@mixin app-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  * {
    font-family: 'noir', 'arial', sans-serif
  }

  .stripe:nth-of-type(even) {
    -webkit-box-shadow: 0px -3px 20px 0px rgba(148, 146, 148, 1);
    -moz-box-shadow: 0px -3px 20px 0px rgba(148, 146, 148, 1);
    box-shadow: 0px -3px 20px 0px rgba(148, 146, 148, 1);
  }
  .stripe:nth-of-type(odd) {
    -webkit-box-shadow: inset 0px 3px 17px -5px rgba(148, 146, 148, 1);
    -moz-box-shadow: inset 0px 3px 17px -5px rgba(148, 146, 148, 1);
    box-shadow: inset 0px 3px 17px -5px rgba(148, 146, 148, 1);
  }

  .legislationContainer {
    -webkit-box-shadow: inset 0px 3px 17px -5px rgba(148, 146, 148, 1);
    -moz-box-shadow: inset 0px 3px 17px -5px rgba(148, 146, 148, 1);
    box-shadow: inset 0px 3px 17px -5px rgba(148, 146, 148, 1);

  }

  a:-webkit-any-link {
    color: white;

    &:hover {
      color: mat-color($accent, 600);
    }
  }


  mat-header-cell, mat-cell, .mat-card ,.mat-select-panel:not([class*='mat-elevation-z']) {
    background-color: mat-color($primary, 200);
  }

  .mat-cell:last-of-type, .mat-footer-cell:last-of-type, .mat-header-cell:last-of-type {
    padding-right: 0;
    flex: 0.5;
  }
  .mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    padding-left: 14px;
    flex: 0.5;
  }
  .mat-form-field-infix {
    width: auto !important;
  }

  .mat-column-Comment {
    padding-right: 10px;
  }

  .mat-cell, .mat-footer-cell, .mat-header-cell {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    justify-content: space-between;
  }

  .page {
    background-color: mat-color($primary, 100);
  }

  .mat-footer-row, .mat-header-row, .mat-row {
    align-items: normal;
  }

  .lifestyleContainer {
    background-color: mat-color($primary, 200);
  }

  .unsavedBox {
    background-color: mat-color($accent, 400);
  }

  .mat-input-element {
    height: 1.2rem;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.7em;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.4375em 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .cdk-column-Category {
    padding-right: 10px !important;
  }




  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: mat-color($accent, 600);
  }

  .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: mat-color($accent, 400);
  }

  ::selection {
    background: mat-color($accent, 600);
  }
  ::-moz-selection {
    background: mat-color($accent, 600);
  }
}
