<mat-card class="unsavedBox" *ngIf="unsavedChanges">
  <span>
    <b class="unsavedWarning">
      WARNING: Unsaved lifestyle(s)!
    </b>
  </span>
  <span>
    <article>
      For saving you have to download the lifestyle/s.
    </article>
  </span>
</mat-card>

<div class="console">
  <button mat-raised-button class="consoleItem" color="primary"
          (click)="$event.stopPropagation(); HandleAddNewLifestyleButton()">
    <mat-icon>add</mat-icon>
    <span>&nbsp;ADD LIFESTYLE {{lifestylesCount}}/{{limitLifestyles}}</span>
  </button>
  <button mat-raised-button class="consoleItem" color="accent"
          (click)="$event.stopPropagation(); exportLifestyles(Lifestyles)">
    <mat-icon>save_alt</mat-icon>
    <span>&nbsp;EXPORT LIFESTYLES</span>
  </button>
  <!--  <button mat-raised-button class="consoleItem" color="accent"-->
  <!--          (click)="$event.stopPropagation(); importLifestyles()">-->
  <!--    <mat-icon>subdirectory_arrow_right</mat-icon>-->
  <!--    <span>&nbsp;IMPORT LIFESTYLES</span>-->
  <!--  </button>-->
  <button mat-raised-button class="consoleItem" color="warn"
          (click)="$event.stopPropagation(); shareLifestyles()">
    <mat-icon>share</mat-icon>
    <span>&nbsp;SHARE LIFESTYLES</span>
  </button>
</div>


<div class="lifestyleContainer">
  <div class="lifestyle" *ngFor="let Lifestyle of Lifestyles | keyvalue; trackBy: trackById">
    <app-lifestyle
      [Lifestyle]="Lifestyle.value"
    >
    </app-lifestyle>
  </div>
</div>


